$clr-darkgrey: hsl(0, 0%, 63%);
$clr-black: hsl(0, 0%, 0%);
$clr-white: hsl(0, 0%, 100%);
$clr-verydarkgrey: hsl(0, 0%, 27%) ;
$fontsize-p: 12px;

* {
    // box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
    font-family: "League Spartan", sans-serif;
    font-size: $fontsize-p;
    height: 100vh;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 3em 0;
    background-color: rgba(255, 255, 255, 0);
    position: absolute;

    &__hamburger {
        display: block;
        background-color: none;
        border: none;
        margin-left: 2em;
        background-color: rgba(255, 255, 255, 0);
        position: absolute;
        left: 1em;
    }

    &__hamburger:hover {
        cursor:pointer;
    }

    &__close {
        display: none;
        border: none;
        margin-left: 2em;
        background-color: rgba(255, 255, 255, 0);
    }

    &__menu {
        display: none;
        list-style-type: none;
        font-size: 0.9rem;
        gap: 1.5em;
        font-weight: 600;
        text-transform: lowercase;
        margin-right: 2em;
    }

    &__menu-element-link {
        text-decoration: none;
        color: $clr-black;
    }

    &__logo {
        display: block;
    }
}

.slide {
    
    &__text {
        display: flex;
        flex-direction: column;
        padding: 4em 3.2em;
        gap: 2em;
    }

    &__title {
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 2rem;
        color: $clr-black;
    }

    &__description {
        font-size: 1rem;
        color: $clr-darkgrey;
        font-weight: 300;
    }

    &__shop {
        display: flex;
        gap: 1.5em;

        &-text {
            font-size: 1rem;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 0.6rem;
        }

        &-text:hover {
            cursor: pointer;
            color: $clr-darkgrey;
        }

        &-arrow {
            border: none;
            background-color: rgba(255, 255, 255, 0);
        }
    }
}

.slide {
    display: none;
}

.buttons {
    display: flex;
    align-items: center;
    position: absolute;
    top: 25.5em;
    right: 0;
}

.button {
    border: none;
    background-color: $clr-black;
    width: 4em;
    padding: 1em;
}

.button:hover {
    cursor: pointer;
    background-color: rgb(58, 56, 56);
}

.bottom {
    &__photo-1 {
        
        &-img {
            width: 375px;
        }
    }

    &__about {
        padding: 4em 2.8em;
        display: flex;
        flex-direction: column;
        gap: 2em;

        &-title {
            text-transform: uppercase;
            letter-spacing: 0.3rem;
            font-weight: 600;
        }

        &-info {
            font-size: 1rem;
            color: $clr-darkgrey;
            font-weight: 300;
            line-height: 1.4rem;
        }
    }

    &__photo-2 {
        
        &-img {
            width: 375px;
        }
    }
    
}